RewriteEngine On

# Si une ressource existante est demandée, allez directement à elle
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Si la ressource demandée n'existe pas et n'est pas index.html, utilisez index.html
RewriteCond %{REQUEST_URI} !^/index\.html$
RewriteRule ^ /index.html [L]
