<div *ngIf="isLoggedIn" class="p-3">
  <div class="p-3">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Rechercher une série"
        [(ngModel)]="search"
        (input)="searchSeries()"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchSeries()"
        >
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
    <div *ngIf="searchResults.length > 0">
      <h4>Résultats de recherche</h4>
      <div class="d-inline-block" style="max-width: 25%; min-width: 10%">
        <div *ngFor="let serie of searchResults">
          <div class="card m-2">
            <img
              [src]="'http://' + serverIp + ':8080/thumbnail/' + serie"
              alt="Image de la série"
              class="card-img-top"
            />
            <div class="card-body">
              <h5 class="card-title">
                {{ serie }}
              </h5>
              <a [routerLink]="['/serie', serie]" class="stretched-link"> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="px-3" *ngIf="!isSearching">
    <div *ngIf="resumeWatching.length > 0">
      <h4>Reprendre la lecture</h4>
      <div>
        <div
          *ngFor="let serie of resumeWatching"
          class="d-inline-block m-2"
          style="max-width: 25%; min-width: 10%"
        >
          <div class="card">
            <img
              [src]="
                'http://' +
                serverIp +
                ':8080/thumbnail/' +
                serie.serie +
                '/' +
                serie.season +
                '/' +
                serie.episode
              "
              alt="Image de la série"
              class="card-img-top"
              style="margin-bottom: 0"
            />
            <div
              class="position-absolute bottom-0 start-0"
              [style.width.%]="serie.progression"
              class="card-img-top"
              style="
                height: 5px;
                background-color: blue;
                border-radius: 0;
                margin-top: -5px;
                z-index: 10;
              "
            ></div>
            <div class="card-body">
              <h5 class="card-title">
                {{ serie.serie }}
              </h5>
              <p class="card-text">
                Saison {{ serie.season }} Episode {{ serie.episode }}
              </p>
              <a
                [routerLink]="[
                  '/serie',
                  serie.serie,
                  serie.season,
                  serie.episode
                ]"
                [queryParams]="{ t: serie.currentTime }"
                class="stretched-link"
              >
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h4>Autres séries</h4>
      <div class="d-inline-block">
        <div
          *ngFor="let serie of otherSeries"
          class="card m-2"
          style="max-width: 25%; min-width: 10%; display: inline-block"
        >
          <img
            [src]="'http://' + serverIp + ':8080/thumbnail/' + serie"
            alt="Image de la série"
            class="card-img-top"
          />

          <div class="card-body">
            <h5 class="card-title">
              {{ serie }}
            </h5>
            <a [routerLink]="['/serie', serie]" class="stretched-link"> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="p-3 mx-auto" *ngIf="!isLoggedIn" style="width: 50vw">
  <h2>Connexion</h2>
  <form (ngSubmit)="onLogin()">
    <div class="mb-3">
      <label for="username" class="form-label">Nom d'utilisateur</label>
      <input
        type="text"
        class="form-control"
        id="username"
        [(ngModel)]="username"
        name="username"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Se connecter</button>
  </form>
</div>
