<div class="d-flex flex-column" [class.dark]="darkMode" style="height: 100vh">
  <header
    style="height: 6vh"
    class="bg-dark bg gradient d-flex justify-content-between align-items-center"
  >
    <h3 class="text-left py-2 mx-4">
      <a href="/" class="text-warning" style="text-decoration: none"
        >Rouleau Croustillant</a
      >
    </h3>
    <div *ngIf="isLoggedIn">
      <div class="d-flex justify-content-between mx-2">
        <button class="btn btn-dark text-warning">
          Connecté en tant que : {{ username }}
        </button>
        <button class="btn btn-dark text-warning" (click)="onLogout()">
          Déconnexion
        </button>
      </div>
    </div>
  </header>
  <div class="overflow-auto" style="height: 94vh">
    <div style="height: 88vh">
      <router-outlet></router-outlet>
    </div>
    <footer
      class="mx-auto mt-auto bg-dark bg gradient text-center text-light py-2"
      style="width: 100%; height: 6vh"
    >
      <div class="form-check form-switch mx-auto" style="width: fit-content">
        <input
          class="form-check-input"
          type="checkbox"
          id="darkModeSwitch"
          [(ngModel)]="darkMode"
        />
        <label class="form-check-label" for="darkModeSwitch">Mode sombre</label>
      </div>
      <span>© 2024 - Fred</span>
    </footer>
  </div>
</div>
