<div class="px-3">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Rechercher une série" [(ngModel)]="search" (input)="searchSeries()" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="searchSeries()">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>
    <div *ngIf="searchResults.length > 0">
        <h4>
            Résultats de recherche
        </h4>
        <div class="row">
            <div *ngFor="let serie of searchResults" class="col-3 card">
                <img [src]="'http://' + serverIp + ':8080/thumbnail/' + serie" alt="Image de la série" class="card-img-top" />

                <div class="card-body">
                    <h5 class="card-title
                    ">
                        {{ serie }}
                    </h5>
                    <a [routerLink]="['/serie', serie]" class="stretched-link">
                        </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="px-3" *ngIf="!isSearching">
    <div>
        <h4>
            Reprendre la lecture
        </h4>
    </div>
    <div>
        <h4>
            Autres séries
        </h4>
        <div class="row">
            <div *ngFor="let serie of otherSeries" class="col-3 card">
                <img [src]="'http://' + serverIp + ':8080/thumbnail/' + serie" alt="Image de la série" class="card-img-top" />

                <div class="card-body">
                    <h5 class="card-title">
                        {{ serie }}
                    </h5>
                    <a [routerLink]="['/serie', serie]" class="stretched-link">
                      
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
